#books-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 80px 250px;
}

#books-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 80px;
}

#books-header>h1 {
    font-size: 36px;
    font-weight: 400;
}

#book-search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 17px 10px;
    border-radius: 6px;
    border: 1px solid var(--formBackground);
}

#book-search-form>input {
    width: 250px;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

#book-search-form>input::placeholder {
    color: var(--greyText);
}

#book-search-form>input:focus {
    outline: none;
}

#books-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    width: 100%;
}

.details-button {
    text-decoration: none;
    display: block;
    
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    font-family: 'Inter', sans-serif;
    width: 200px;
    border-radius: 8px;
}

.book-image-container{
    position: relative;
}

.book-image-container>img {
    width: 100%;
}

.book-image-container>.unavailable {
    position: absolute;
    top: 16px;
    right: 12px;
    background-color: var(--notAvailableRed);
    color: white;
    padding: 4px 13px;
    border-radius: 10px;
    font-size: 9px;
    font-weight: 400;
}

.book-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px;
    width: 100%;
}

.book-info>h2 {
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-bottom: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.book-info>p:first-of-type {
    font-size: 14px;
    color: var(--greyText);
    margin-bottom: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.book-info>p:last-of-type {
    font-size: 10px;
    color: var(--greyText);
    margin-bottom: 28px;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

@media (max-width: 1000px) {
    #books-page {
        padding: 55px 20px;
    }

    #books-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin-bottom: 40px;
    }

    #books-header>h1 {
        font-size: 30px;
    }

    #book-search-form {
        width: 100%;
    }

    #book-search-form>input {
        font-size: 14px;
    }

    #books-container {
        gap: 15px;
    }

    .book-card {
        width: 160px;
    }

    .book-card>.book-image-container{
        width: 100%;
    }

    .book-info>h2 {
        font-size: 13px;
        margin-bottom: 8px;
    }

    .book-info>p:first-of-type {
        font-size: 11px;
        margin-bottom: 18px;
    }

    .book-info>p:last-of-type {
        font-size: 8px;
        margin-bottom: 4px;
    }
}