#breadcrumb {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--greyText);
    font-size: 10px;
    margin-left: 150px;
}

#book-details {
    display: flex;
    flex-direction: row;
    background-color: var(--backgroundLight);
}

#book-details img {
    width: 50%;
}

#details {
    display: flex;
    flex-direction: column;
    padding: 0 10% 0 5%;
    width: 50%;
}

#title-name {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
}

#title-name h1 {
    font-size: 2vw;
    font-weight: 400;
}

#title-name h2 {
    font-size: 1vw;
    font-weight: 300;
    color: var(--greyText);
}

#separator-line {
    width: 5%;
    height: 2px;
    background-color: var(--greyText);
    margin: 40px 0;
}

#details>span {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: bold;
}

#details>p {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: left;
    font-size: 0.8vw;
}

#owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
    margin-bottom: 80px;
    background-color: white;
    width: fit-content;
    padding: 6px 17px 6px 6px;
    border-radius: 114px;
}

#owner img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

#owner h3 {
    font-size: 14px;
    font-weight: 400;
}

#details>a {
    text-decoration: none;
    background-color: var(--buttonGreen);
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 0.9vw;
    width: 100%;
    font-weight: 600;
    text-align: center;
    margin-bottom: 80px;
}