#error-404-container {
    text-align: center;
    padding: 50px;
}

#error-404-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#error-404-container p {
    font-size: 18px;
    margin-bottom: 30px;
}

#error-404-container a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: inherit;
}