#login-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40%;
    margin-left: 150px;
    margin-top: 130px;
}

#login-form form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 60%;
}

#login-form form div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#login-page > div:last-child {
    line-height: 0;
    width: 50%;
    height: fit-content;
}

#login-page > div:last-child img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

form label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: var(--greyText);
}

form input {
    height: 48px;
    padding: 0 10px;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    color: var(--darkGrey);
}

form button {
    width: 100%;
    height: fit-content;
    padding: 22px 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    background-color: var(--buttonGreen);
    color: white;
    cursor: pointer;
    border: unset;
}


#login-form > div {
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 30px;
    gap: 4px;
}

#login-form > div a {
    color: var(--darkGrey);
    text-decoration: underline;
}

@media (max-width: 1000px) {
    #login-page {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
    }

    #login-form {
        width: 100%;
        margin: 0 0 100px 0;
        padding: 0 20px;
    }

    #login-page > div:last-child {
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }

    #login-form > div:first-child {
        display: flex;
        flex-direction: row;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        width: 100%;
        height: 30px;
        gap: 4px;
    }
}