* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgroundLight: #faf9f7;
    --defaultBackground: #f5f3ef;
    --buttonGreen: #00ac66;
    --darkGreenButton: #006d41;
    --greyText: #a6a6a6;
    --darkGrey: #292929;
    --notAvailableRed: #c56d6d;
    --availableGreen: #6dc5a1;
    --formBackground: #f0f0f0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
    background-color: var(--defaultBackground);
    color: var(--darkGrey);
}

main {
    flex: 1;
}

p, a {
    font-family: 'Inter', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 150px;
    font-size: 17px;
}

nav > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.focus {
    font-weight: 600;
}

nav > input, nav > label {
    display: none;
}

#burger-content {
    display: none;
}

#account-manager {
    gap: 58px;
}

nav a {
    text-decoration: none;
    color: var(--darkGrey);
}

#browse {
    gap: 42px;
}

#browse a:first-child {
    margin-right: 36px;
}

#browse img {
    height: 51px;
}

footer {
    background-color: var(--backgroundLight);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 46px;
    gap: 40px;
    font-size: 12px;
}

footer a {
    text-decoration: none;
    color: var(--darkGrey);
}

@media (max-width: 1000px) {
    nav {
        height: 56px;
        padding: 0 20px;
        font-size: 17px;
    }

    #account-manager, #browse > a:not(:first-child) {
        display: none;
    }
    
    nav > label {
        display: block;
    }

    #browse {
        gap: unset;
    }

    #browse a:first-child {
        margin-right: 36px;
    }

    #browse img {
        height: 25px;
    }
    
    #burger-content {
        display: flex;
        position: absolute;
        left: -100%;
        top: 56px;
        flex-direction: column;
        background-color: var(--backgroundLight);
        width: 100%;
        text-align: center;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    #burger-content ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #burger-content ul li {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid var(--greyText);
    }

    #burger-content ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    #burger-content ul li:last-child {
        border-bottom: none;
    }
    
    .menu-toggle:checked ~ #burger-content {
        left: 0;
    }

    .menu-toggle:checked ~ .hamburger .burger-icon {
        opacity: 0.7;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: unset;
        padding: 30px 0;
        gap: 20px;
    }

    footer a {
        text-decoration: none;
        color: var(--darkGrey);
    }
}