#user-profile {
    padding: 90px 150px;
    background-color: var(--backgroundLight);
}

#user-profile {
    display: flex;
    flex-direction: row;
    gap: 33px;
}

#user-profile>div {
    background-color: white;
    border-radius: 20px;
}

#user-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#user-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
    padding: 48px 50px;
    width: 50%;
}

#user-image-container img {
    width: 135px;
    height: 135px;
    object-fit: cover;
    border-radius: 100%;
}

#user-image-container label {
    color: var(--greyText);
    text-decoration: underline;
    cursor: pointer;
}

#user-info h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 48px;
    margin-bottom: 12px;
}

#user-info>p {
    font-size: 14px;
    color: var(--greyText);
    margin-bottom: 20px;
}

#user-info>span {
    font-size: 10px;
    font-weight: 400;
}

#send-message {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
}

#send-message>a {
    width: fit-content;
    padding: 22px 32px;
    background-color: var(--defaultBackground);
    color: var(--buttonGreen);
    border: 1px solid var(--buttonGreen);
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-top: 24px;
    text-decoration: none;
}

#books-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

#books-count>img {
    width: 10px;
}

#books-count>p {
    font-size: 14px;
    font-weight: 400;
}

#user-books {
    display: flex;
    flex: 3;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
}

#user-books>.book-mobile-row {
    display: none;
}

#user-books>div, #user-books>.book-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding-left: 66px;
    padding-right: 30px;
    text-decoration: none;
    color: inherit;
}

#table-header {
    padding: 35px 0 12px 0;
    border-bottom: 1px solid #E0E0E0;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 0.7vw;
}

.book-photo>img {
    width: 7vw;
    height: 7vw;
    margin: 25px 0;
    object-fit: cover;
}

.book-row {
    max-height: calc(7vw + 50px);
}

#user-books .book-row:nth-child(odd) {
    background-color: var(--formBackground);
}

#user-books .book-row:last-child {
    border-radius: 0 0 20px 20px;
}

.book-row>div {
    display: flex;
    align-items: center;
}

.book-row>div p, .book-row>div span, .book-row>div a {
    font-size: 0.9vw;
    font-family: 'Inter', sans-serif;
}

.book-row>.book-description p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.book-row>.book-availability>.available {
    padding: 6px 12px;
    border-radius: 20px;
    background-color: var(--availableGreen);
    color: white;
}

.book-row>.book-availability>.unavailable {
    padding: 6px 12px;
    border-radius: 20px;
    background-color: var(--notAvailableRed);
    color: white;
}

.book-row>.book-action {
    display: flex;
    gap: 30px;
}

.book-row>.book-action>a:first-child {
    color: black;
    cursor: pointer;
}

.book-row>.book-action>a:last-child {
    color: #CB2D2D;
    cursor: pointer;
}

@media (max-width: 1000px) {
    #user-profile {
        padding: 80px 20px;
        flex-direction: column;
    }

    #user-profile>#user-books {
        background-color: transparent;
        gap: 20px;
    }

    #user-books>#table-header {
        display: none;
    }

    #user-profile>#user-books>.book-row {
        display: none;
    }

    #user-books>a {
        text-decoration: none;
        color: inherit;
    }

    #user-books>.book-mobile-row  {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        border-radius: 20px;
        background-color: white;
        padding: 50px;
    }

    .book-mobile-row>.photo-title {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    .book-mobile-row>.photo-title>.book-photo img {
        width: 80px;
        height: 80px;
        margin: 0;
    }

    .book-mobile-row>.photo-title>.book-title {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;
    }

    .book-mobile-row>.book-description p {
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}